/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  End of Josh's reset
*/

h1,
h2 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.center_with_flex {
  display: flex;
  justify-content: center;
}

.ol-attribution,
.ol-rotate,
.hide {
  display: none;
}

.ol-zoom {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.word-container {
  text-indent: 2rem;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-container > p {
  max-width: 600px;
}
